body {
    width: 740px;
    height: 900px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
h1 {
    font-size: 15px;
    color: orange;
}
span {
    color: orange;
}
h2 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#header {
    font-size: 50px;
    font-weight: bold;
}
#paragraph1 {
    text-align: center;
    float: left;
    font-size: 12px;
    max-width: 390px;
    margin: 0 auto;
}
#paragraph2 {
    
    width: 50%;
    column-count: 2;
    column-gap: 20px;
    max-width: 800px;
    font-size: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 10px;
}

#paragraph3  {
    position: absolute;
    top: 50%;
    right: 0;
    width: 22%;
    height: 100%;
    transform: translateY(-50%);
    text-align: left;
    padding: 23%;
    font-size: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
